extends /layout/_default-layout

prepend config-block
  - page_name = ''

//- append stylesheet-block

//- append javascript-block

block content-block
  h1.title TEST : iOS safari record sound from own microphone 
  h2.title 現在マイクで拾っている音の波形
  canvas.js-sound-wave
  button.js-microphone-button マイク初期化
  ul.list.js-list-root
    li.list__item
      button.js-recorder-button loading...
  button.js-recorded-setup 録音した音を再生
  h2.title 録音した音の波形
  canvas.js-recorded-wave