extends /layout/_default-layout

prepend config-block
  - page_name = ''

//- append stylesheet-block

//- append javascript-block

block content-block
  h1.title TEST : iOS safari record sound from own microphone 
  canvas.js-sound-wave
  button.js-microphone-button マイク初期化
  ul.list.js-list-root
    li.list__item
      button.js-recorder-button loading...