// reset css
@import 'node_modules/reset.css/reset.css';

// config
@import 'variable', 'function', 'mixin', 'keyframes';

// modules
@import 'module/*';

h1 {
    text-align: center;
    font-weight: bold;
    margin: 40px;
}
canvas {
    display: block;
    margin: 40px;
    border: 1px solid #000;
}
button,
audio,
a {
    display: block;
    margin: 40px;
}
